.customOl {
  counter-reset: item;
  padding: 0;

  & > li {
    display: block;
  }

  & > li::before {
    content: counter(item) ". ";
    counter-increment: item;
    color: var(--color-green-default);
  }
}
