.link {
  color: var(--color-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.disabled {
  cursor: not-allowed;
  pointer-events: n;
}

.button {
  display: block;
  color: var(--color-white);
  text-align: center;
  padding: 7.5px 0;
  border-radius: 16px;
}
